---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: tempo
      version: "1.24.1"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    tempo:
      repository: "grafana/tempo"
      tag: "2.6.1"
      storage:
        trace:
          backend: local
          local:
            path: /var/tempo/traces
          wal:
            path: /var/tempo/wal
    persistence:
      enabled: true
      size: 10Gi
      storageClass: local-path
    metaMonitoring:
      serviceMonitor:
        enabled: true
