---
apiVersion: v1
kind: Namespace
metadata:
  name: vault
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 1h
  chart:
    spec:
      chart: vault
      version: "0.31.0"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: flux-system
  values:
    server:
      standalone:
        enabled: true
      # In production, use 'ha' mode with raft or consul
      ha:
        enabled: false
      serviceMonitor:
        enabled: true
